<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>WebMote</title>
  </head>
  <body>

    <div ng-app>
      <ul id="file-list" ng-controller="FileListCtrl" ng-init="navigate()">
	<li class="{{file.type}}" ng-repeat="file in filesList" ng-switch="file.type">
	  <span ng-switch-when="directory">
	    <button class="play btn" ng-click="play(file.path)"><i class="icon-play"></i></button>
	    <button class="shuffle btn" ng-click="shuffle(file.path)"><i class="icon-random"></i></button>
	    <a class="dir-link" ng-click="navigate(file.path)">{{file.name}}</a>
	  </span>
	  <a class="dir-link buttonless" ng-switch-default ng-click="play(file.path)">{{file.name}}</a>
	</li>
      </ul>

      <div id="controls" ng-controller="CommandCtrl" ng-style="style">
	<ul ng-repeat="controlsList in controlTree">
	  <li ng-repeat="control in controlsList" class="{{control.cmd}}" ng-switch="control.held">
	    <button class="btn" ng-switch-when="true" 
		    ng-mousedown="command(control.cmd); hold(control.cmd)"
		    ng-mouseup="release()" ng-mouseleave="release()">
	      <i class="icon-{{control.cmd}}"></i>
	    </button>
	    <button class="btn" ng-switch-default ng-click="command(control.cmd)">
	      <i class="icon-{{control.cmd}}"></i>
	    </button>
	  </li>
	</ul>
      </div>
    </div>
    
    <!-- ------ -->
    <!-- Styles -->
    <!-- ------ -->
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    
    <!-- ------- -->
    <!-- Scripts -->
    <!-- ------- -->
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>

    <script type="text/javascript" src="js/mote.js"></script>

  </body>
</html>
